@inject NavigationManager Navigation

<a class="card" style="width: 100%; padding: 0; cursor: pointer; text-decoration: none;" href="@TargetUrl">
    <glb-viewer class="bg-body-tertiary" src="@ModelUrl" camera-x="0" camera-y="1" camera-z="2.5" offset-x="0" offset-y="1" offset-z="0" width="100%" height="175px"></glb-viewer>
    <div class="card-body" style="padding-top: 0; margin-bottom: 8px;">
        <p class="card-text text-body-secondary text-start" style="margin-bottom: 8px;">N° @Number.ToString("D4")</p>
        <h5 class="card-title">@Title</h5>
        <ul class="lander-type-container">
            @foreach (var type in Types)
            {
                <li class="lander-type @type">@type</li>
            }
        </ul>
    </div>
</a>

@code {
    [Parameter]
    public string? GltfUrl { get; set; }

    [Parameter]
    public string Title { get; set; } = "Card title";

    [Parameter]
    public int Number { get; set; } = 0;

    [Parameter]
    public List<string> Types { get; set; }

    private string ModelUrl => Navigation.BaseUri + $"api/v1/model/{Title}.glb";

    private string TargetUrl => $"/landopedia/lander/{Title}";
}
